version: "3.3"

services:
  traefik:
    image: "traefik:v2.6"
    command:
      #- "--log.level=DEBUG"
      #- "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=weirich@elexis.ch" 
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json" 
    ports:
      - "80:80"
      #- "8080:8080"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./letsencrypt:/letsencrypt"

  nbb:
     image: "rgwch/no-bling-blog:1.1.2"
     ports:
       - "3001:3000"
     environment:
       - "jwt_secret=you really should change this"       
     volumes:
      - "./nbb-data:/opt/app/data"  
     labels:
       - "traefik.enable=true"
       - "traefik.http.routers.nbb.rule=Host(`localhost`)"
       - "traefik.http.routers.nbb.entrypoints=web,websecure"
       - "traefik.http.routers.nbb.tls.certresolver=myresolver"