# store a file with configuration paramaters as .env here.
basedir=../data
backupdir=../backup
nedb_datadir=../data/nedb
documents=../data/documents
partials=../data/partials
users=../data/users.json
jwt_secret=chose something different
nbb_port=3000
