// store a file with configuration paramaters as .env here.

// common
users=../data/users.json
documents=../data/documents
index=../data/documents/index
jwt_secret=some secret string

// only one of the following storage blocks

// Storage type: filesystem based:
storage=filebased
filebased_basedir=../data

// Storage type: NeDB:
storage=nedb
nedb_datadir=../data

// Storage type: CouchDB
storage=couchdb
couch_host=localhost
couch_port=5984
couch_user=someone
couch_password=topsecret