# store a file with configuration paramaters as .env here.

# this is the only mandatory entry. 
# a string which will be used to encrypt the jwt_token which identifies a user, once they are logged in.
# choose something not too easy to guess.
jwt_secret=chose something different

# Expiration time for the jwt-jwt_token in seconds. Default: 3600
jwt_expiration=3600

# Normally it's sufficient to define the basedir. The other entries are for fine-tuning. 
basedir=../data

# Directory for backups
backupdir=../backup

# Directory where the nedb database files should be stored
nedb_datadir=../data/nedb

# Directory for the texts stored in the blog
documents=../data/documents

# Directory for html templates
partials=../data/partials

# Directory to hold uploaded images and other files
uploads=../data/uploads

# JSON file to define the users
users=../data/users.json

# Port to use 
nbb_port=3000
